<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
  <link rel="stylesheet" href="/styles/main1.css">
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <div class="container">
    
    <h1>
      heading
    </h1>
        <form action="http://localhost:5000/app/notes/addnote" method="post" id="newPostForm">
          <input type="text" name="title" placeholder="Title" required>
          <textarea name="description" placeholder="description" required rows="10"></textarea>
          <input type="text" name="tag" placeholder="tag" required>
          <button class="full-width" type="submit">Submit</button>
        </form>
  </div>
</body>

</html>
