
.addicon{
    display: flex;
    position: fixed;
    right: 70px;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    margin-top: 23.5rem;
}

.topcontainer{
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid white;
    width: 1000px;
    height:492px;
    border-radius: 10px;
    margin-left: -90px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    overflow-y: scroll;
    scroll-behavior: smooth;
    cursor: pointer;

}
.containerforblog{
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid white;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    
}

.usertitle{
    text-align: left;
    font-weight: bold;
    
}

.userdescription{
    display: flex;
    text-align: left;
    font-size: 15px;

}