body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* background-image: url("2.jpg");
    background-size: cover; */
    background-image: url("../assets/1.jpg"), url("../assets/4.jpg") , url("../assets/3.jpg"), url("../assets/bottom2.jpg");
    /* Set background sizes for each image */
    background-size: 33% 50%, 33% 50% ,33% 50% ,100% 50%;
    /* Set background positions */
    background-position: left top, right top ,center top ,  bottom;
    /* Set background repeats */
    background-repeat: no-repeat, no-repeat, no-repeat;
   
 /* background-color: #cccccc; */
}



.signup-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 19rem;
    width: 500px;
    height:100px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 500px;
    /* padding: 10px; */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
