<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Website - Sign Up</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="containerforform">
        <form action="http://localhost:5000/app/auth/createuser" method="post" class="signup-form">
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" required>
            </div>
            <button  style="margin-left: 25px; margin-top: 10px; color: white; background-color: orange; width: 90%" type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
